<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chp13_01_Form</title>
</head>
<body>
    <h2>RESTful 웹 서비스 입력 폼</h2>
    <form action="/chp13_01" method="post">
        <p><label>이름 : <input name="name"></label></p>
        <p><label>나이 : <input name="age"></label></p>
        <p><label>이메일 : <input name="email"></label></p>
        <p><input type="submit" value="전송"></p>
    </form>
</body>
</html>