<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Security 실습</title>
</head>
<body>
    <h1>Security 실습 페이지</h1>
    <ul>
        <li><a href="/exam21/home/main">Home Page</a></li>
        <li><a href="/exam21/member/main">Member Page</a></li>
        <li><a href="/exam21/manager/main">Manager Page</a></li>
        <li><a href="/exam21/admin/main">Admin Page</a></li>
    </ul>
</body>
</html>